.rubik-normal{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  
/* shared style */
.secondary-bg {
    background-color: #fafafa;
}

.hero-section-bg{
    
    background-image: url("/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.text-primary{
    color: #FD6E0A;
}
.drak-2{
    color: #0D1321;

}
.btn-primary{
    color: rgb(255, 255, 255);
background-color: #FD6E0A;
font-size: 18px;
padding: 10px 18px;
border-radius: 3px;
border-color: #e7e7e7;
border: none;
margin: 10px 0px;
}

.btn-secondary{
    color:#0D1321;
    background-color: white;
    font-size: 18px;
padding: 10px 18px;
border-radius: 3px;
border-color: #000000;
border: 1px 1px 1px 1px;
margin: 10px 0px;
    
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.text-center {
    text-align: center;
    
}



.section-description {
    font-size: 18px;
    color: #242424;
}

/* header */
.header {
    background-image: url('../assets/developer.png'), url('../assets/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}


/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;


}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display:flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    align-items: center;
}
nav li a {
    text-decoration: none;
    font-size: 25px;
}


/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content {
    max-width: 580px;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    margin: 10px 0px;
}
.banner-title {
    font-size: 80px;
    font-weight: bold;
    margin: 10px 0px;
}

.banner-profile-pic {
    width: 380;
}


/* main styles*/
main {
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}


/* about styles */
.about {
    border-radius: 10px;
    padding: 100px 100px;
    text-align: center;
}

.about-items {
    margin: 80px 80px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;

}

.about-items-second {
    margin: 80px 80px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    text-align: right;

}
.about-greetings{
    font-size: 30px;
}



/* skills section styles */

.skills-container {
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;

    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px #bebebe;
}

.skill-html {
    background-color: #adff50e1;
    padding: 30px;
    border-radius: 5px;
}

.skill-css {
    background-color: #ffcc91;
    padding: 30px;
    border-radius: 5px;
}
.skill-java {
    background-color: #009dffc5;
    padding: 30px;
    border-radius: 5px;
}


/* resume section stuyles */
.resume-container{

    display: flex;
    gap: 24px;

}
.experience-description{
    color: #242424;
}
.experience-sub-title{
    color: #FD6E0A;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}




.image-container{
    max-width: 100%;
    height: auto;
    text-align: center;

}


/* newsletter section for the website */

.newsletter{
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;

}

.newsletter-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0,7);
    padding: 50px 50px;
    border-radius: 8px;
}
.newsletter-content-h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 600;
}

.newsletter-content-p {
    font-size: 20px;
    margin-bottom: 20px;

}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}



.input-email {
    padding: 15px 40px 15px 40px;
    font-size: 16px;
}


.input-submit {
    padding: 15px 20px 15px 20px;
    font-size: 16px;

}



/* footer styles */

.footer-bg {
    background-color: #fafafb;
    align-items: center;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px;

}
.footer-column{
    margin: 0;
    font-size: 1em;
}





/* Working for the responsive */

.hide{
    display: none;

}

/* for the mobile device  */

@media screen and (max-width: 576px) {
    .skills-container {
        flex-direction: column;
    }


    .about{
        padding: 10px;
    }

    .about-items {
        flex-direction: column-reverse;
        margin: 5px;
        padding: 5px;}

    .about-items-second {
        flex-direction: column;
        margin: 5px;
        padding: 5px;}


    
}

